.navbar {
    background-color: lightgray; /* Background color for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding for better spacing */
    color: black;
  }
.logo{
    display: flex;
    gap:4px;
    align-content: baseline;
}
  .navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
  }
  
  .navbar li {
    margin-right: 20px; /* Add margin between list items */
  }